## Visual Studio
.vs/
*.vsidx
*.suo
*.user
*.userosscache

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio cache
*.cache
*.dll
*.exe
*.pdb
*.ilk
*.log

# NuGet
packages/
*.nupkg
